/*全局*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #000000;
    z-index: 0;
}

#top {
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 15px;
    background: url(../Images/top_image_f.jpg) no-repeat;
    background-size: cover;
}

#user {
    width:auto;
    height:auto;
    float:right;
    margin-top:2%;
    margin-right:3%;
}

.log_out_button {
    width: 50px;
    height: 25px;
    background-color: white;
    color: #7D9EC0;
    border: hidden;
    transition-duration: 0.3s;
    border-radius: 13px;
}

.log_out_button:hover{
    background-color:palegoldenrod;
    color:#8B8B83;
    cursor:pointer;
}

#container {
    width: 78%;
    min-height: 350px;
    height: auto;
    margin: auto;
    background-color: #F5FFFA;
    border: 2px solid #9FB6CD;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content {
    width: 40%;
    height: auto;
    border: 1px dashed #3A5FCD;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin: auto;
    margin-top:40px;
}

.content table{
    width:auto;
    height:auto;
    text-align:center;
    margin: auto;
}

.tableone tr th {
    width: 100px;
    height: 50px;
    text-align: center;
}

.tabletwo tr th {
    width: 160px;
    height: 50px;
    text-align: center;
}

.box {
    border:1px solid cornflowerblue;
}

/*==== FileUpload  ====*/
.FileUploadbox {
    height: 20px;
    width: 160px;
    padding-bottom: 2px;
    border: 1px solid #D1EEEE;
    border-radius:4px;
    background-color: #fff;
}  
/*== FileUpload hover ==*/  
.FileUploadbox:hover{
    cursor:pointer;
    background-color:#ADD8E6
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 1px solid goldenrod;
    padding: 10px 15px;
    color: goldenrod;
    border-radius: 5px;
    width: 220px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.button:hover {
    background-color: burlywood;
    color: white;
}

#footer {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    background-color: cornflowerblue;
}

#footer_content1 {
    width: 230px;
    margin:auto;
    margin-bottom:20px;
}

#footer_content1 p{
    color:#E6E6FA;
    font-weight:700;
}

#footer_content2 {
    width: 700px;
    margin: auto;
}

#footer_content2 p {
    color:#E6E6FA;
    font-weight: 700;
}