USE [master]
GO
/****** Object:  Database [价格服务]    Script Date: 11/24/2017 20:38:39 ******/
CREATE DATABASE [价格服务] ON  PRIMARY 
( NAME = N'价格服务', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\价格服务.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'价格服务_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\价格服务_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [价格服务].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [价格服务]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/24/2017 20:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[users] ([username], [password]) VALUES (N'zcmujcc', N'zcmujcc')
INSERT [dbo].[users] ([username], [password]) VALUES (N'zcmuprice', N'zcmuprice')
/****** Object:  Table [dbo].[announcement]    Script Date: 11/24/2017 20:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[announcement](
	[title] [varchar](100) NOT NULL,
	[datetime] [datetime] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[documentname] [varchar](50) NOT NULL,
	[path] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[announcement] ([title], [datetime], [type], [documentname], [path]) VALUES (N'浙江中医药大学滨江学院2017-2018学年收费公示栏', CAST(0x0000A835015228C0 AS DateTime), N'3', N'浙江中医药大学滨江学院2017-2018学年收费公示栏.docx', N'C:\Users\as\Documents\GitHub\zcmu-service\announcement\浙江中医药大学滨江学院2017-2018学年收费公示栏.docx')
